@import url('satoshi.css');

:root{
    --regular: 'Satoshi-Regular', sans-serif;
    --medium: 'Satoshi-Medium', sans-serif;
    --bold: 'Satoshi-Bold', sans-serif;
}

:root{
    --negro: #0D0D0D;
    --gris: #595959;
    --tarjeta: #1F1F1F;
    --morado: #7E42FB;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--regular);
  font-weight: normal;
}

/* Estilos del nav */

.container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--morado);
}

.inner_container {
  width: 80%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.inner_container p {
  font-family: var(--bold);
  font-size: 20px;
}

.nav_container {
  background-color: var(--negro);
  width: 100%;
  height: max-content;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.nav-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  height: max-content;
  background-color: var(--negro); /* Mismo color que el fondo original */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease, box-shadow 0.3s ease;
  z-index: 900;
}

.nav_inner {
  width: 90%;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 1fr;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.lista {
  display: flex;
  align-items: center;
  justify-content: right;
}

.lista ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lista a {
  text-decoration: none;
  transition: all 300ms ease-in-out;
  color: white;
}

.lista ul a:hover {
  color: var(--morado);
}

.lista li {
  margin-right: 25px;
  font-family: var(--medium);
}

.perfil {
  display: flex;
  justify-content: right;
}

#color_perfil {
  color: white;
  transition: all 300ms ease-in-out;
}

#color_perfil:hover {
  color: var(--morado);
}

.div_contacto {
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: var(--morado);
  border-radius: 10px;
  padding: 7px;
  transition: all 300ms ease-in-out;
}

.div_contacto a {
  margin: 0;
}

.div_contacto li {
  color: white;
  margin: 0;
  font-family: var(--bold);
}

/* Todos los estilos de la página */

.titulo{
  width: 100%;
  height: 300px;
  background-color: var(--morado);
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 50px;
  text-transform: uppercase;
  font-size: 30px;
  font-family: var(--bold);
}

.container2{
  width: 100%;
  height: 100vh;
  padding: 30px;
  background-image: url(../img/background3.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner_container2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.text_container{
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  height: 100%;
}

.inner_text_container{
  display: flex;
  align-items: center;
  justify-content: right;
  width: 90%;
  height: 80%;
  color: white;
  font-size: 25px;
  font-family: var(--regular);
  text-transform: uppercase;
}

.form_container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: max-content;
  padding: 30px;
  flex-wrap: wrap;
  flex-direction: column;
}

.pack_politicas{
  display: flex;
  align-items: center;
  width: 100%;
  height: max-content;
  flex-direction: row;
  margin: 10px 0 20px 0;
}

.check{
  all: initial;
  width: 20px;
  height: 20px;
  border: solid 1px var(--morado);
  display: flex;
  border-radius: 5px;
  margin-right: 10px;
  transition: all 100ms ease-in-out;
}

.check:hover{
  cursor: pointer;
}

.check:checked{
  background-color: var(--morado);
}

label{
  color: white;
}

input {
  width: 100%;
  padding: 15px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 10px;
  background-color: var(--tarjeta);
  border: 0;
  font-size: 20px;
  color: white;
}

textarea{
  width: 100%;
  padding: 15px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 10px;
  background-color: var(--tarjeta);
  border: 0;
  font-size: 20px;
  color: white;
}

button {
  background-color: #7e42fb;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background-color: #4d4d4d;
}

.error_username, .error_firstname, .error_lastname, .error_email, .error_password, .error_general{
  display: none;
}

.clase_modificada{
  display: flex;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  color: white;
}

.clase_modificada_correcto{
  display: flex;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 255, 0, 0.5);
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  color: white;
}

.clase_original{
  display: none;
}

/*Estilos del footer */

.container_footer {
  width: 100%;
  height: 350px;
  background-color: var(--negro);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner_footer_container {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  color: white;
  text-transform: uppercase;
  place-items: center;
}

.inner_footer_container a {
  text-decoration: none;
  color: white;
}

.social_media {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
}

.social_media i {
  margin: 20px;
  height: fit-content;
}

.inner_footer_container h2 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  width: 80%;
  height: 100%;
}

.contact {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.contact p {
  width: 100%;
  margin-bottom: 15px;
}

.inner_contacto {
  width: 80%;
  display: flex;
  height: max-content;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.fuerte {
  font-family: var(--bold);
}

.legal {
  width: 100%;
  grid-column: span 3;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.copy {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 50%;
  font-family: var(--bold);
}

.disclaimer {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 50%;
}

.disclaimer a {
  margin-left: 20px;
  font-family: var(--bold);
}

.inner_link {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  flex-basis: fit-content;
}

hr {
  width: 100%;
  grid-column: span 3;
}