@import url('satoshi.css');

:root{
    --regular: 'Satoshi-Regular', sans-serif;
    --medium: 'Satoshi-Medium', sans-serif;
    --bold: 'Satoshi-Bold', sans-serif;
}

:root{
    --negro: #0D0D0D;
    --gris: #595959;
    --tarjeta: #1F1F1F;
    --morado: #7E42FB;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  font-family: Arial, sans-serif;
}

/*Todos los estilos del nav*/

.container{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--morado);
}

.inner_container{
  width: 80%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.inner_container p{
  font-family: var(--bold);
  font-size: 20px;
}

.nav_container{
  background-color: var(--negro);
  width: 100%;
  height: max-content;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.nav_inner{
  width: 90%;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 1fr;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.lista{
  display: flex;
  align-items: center;
  justify-content: right;
}

.lista ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lista a{
  text-decoration: none;
  transition: all 300ms ease-in-out;
  color: white;
}

.lista ul a:hover{
  color: var(--morado);
}

.lista li{
  margin-right: 10px;
  font-family: var(--medium);
}

.perfil{
  display: flex;
  justify-content: right;
}

#color_perfil{
  transition: all 300ms ease-in-out;
}

#color_perfil:hover{
  color: var(--morado);
}

.div_contacto{
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: white;
  border-radius: 10px;
  padding: 7px;
}

.div_contacto a{
  margin: 0;
}

.div_contacto li{
  color: black;
  margin: 0;
  font-family: var(--bold);
}

.container_form {
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: #1F1F1F;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner_container_form{
  width: 30%;
  height: max-content;
  padding: 30px;
  background-color: #0d0d0d;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

button {
  background-color: #7e42fb;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4d4d4d;
}

.error_username, .error_firstname, .error_lastname, .error_email, .error_password, .error_general{
  display: none;
}

.clase_modificada{
  display: flex;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  color: white;
}

.clase_modificada_correcto{
  display: flex;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 255, 0, 0.5);
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  color: white;
}

.clase_original{
  display: none;
}
