@import url('satoshi.css');

:root{
    --regular: 'Satoshi-Regular', sans-serif;
    --medium: 'Satoshi-Medium', sans-serif;
    --bold: 'Satoshi-Bold', sans-serif;
}

:root{
    --negro: #0D0D0D;
    --gris: #595959;
    --tarjeta: #1F1F1F;
    --morado: #7E42FB;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Satoshi-Regular', sans-serif;
}

.banner {
    background-color: black;
    padding: 10px;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    padding: 80px;
    color: white;
}

.titulo h1{
    width: 100%;
    font-size: 5vw;
    text-transform: uppercase;
}

.letra_brainwave{
    color: var(--morado);
}

.letra_limites{
    font-family: var(--bold);
}

.titulo p{
    font-size: 2vw;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 20px;
}

.boton_registro {
    background-color: #7e42fb;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Satoshi-Bold', sans-serif;
}

.boton_tarjeta{
    background-color: white;
    color: black;
    padding: 20px 45px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    font-family: var(--medium);
}

button:hover {
    background-color: #6b35c5;
}

button{
    transition: all 300ms ease-in-out;
}

.container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--morado);
}

.inner_container{
    width: 80%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.inner_container p{
    font-family: var(--bold);
    font-size: 20px;
}

.nav_container{
    background-color: var(--negro);
    width: 100%;
    height: max-content;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.nav_inner{
    width: 90%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 1fr;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.lista{
    display: flex;
    align-items: center;
    justify-content: right;
}

.lista ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista a{
    text-decoration: none;
    transition: all 300ms ease-in-out;
    color: white;
}

.lista ul a:hover{
    color: var(--morado);
}

.lista li{
    margin-right: 10px;
    font-family: var(--medium);
}

.perfil{
    display: flex;
    justify-content: right;
}

#color_perfil{
    transition: all 300ms ease-in-out;
}

#color_perfil:hover{
    color: var(--morado);
}

.div_contacto{
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: white;
    border-radius: 10px;
    padding: 7px;
}

.div_contacto a{
    margin: 0;
}

.div_contacto li{
    color: black;
    margin: 0;
    font-family: var(--bold);
}

.section_1{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/background1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inner_section1{
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.image_section1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.inner_image_section1{
    width: 70%;
    height: 55%;
    background-image: url(../img/shape1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.text_section1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner_text_section1{
    width: 100%;
    height: 80%;
    border-radius: 25px 0px 0px 25px;
    background-color: var(--tarjeta);
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 40px;
    flex-wrap: wrap;
    color: white;
}

.inner_text_section1 h3{
    width: 100%;
    font-size: 40px;
    text-transform: uppercase;
    font-family: var(--regular);
}

.inner_text_section1 p{
    font-size: 20px;
}