@import url('satoshi.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Satoshi-Regular', sans-serif;
}

body {
    background-color: #0d0d0d;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #7e42fb;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    padding: 20px;
    text-align: center;
}

button {
    background-color: #7e42fb;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #6b35c5;
}

.container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_container{
    width: 70%;
    height: 40%;
    background-color: rgba(0, 255, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_container{
    width: 100%;
    height: max-content;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.nav_inner{
    width: 90%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 1fr;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.lista{
    display: flex;
    align-items: center;
    justify-content: right;
}

.lista ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista a{
    text-decoration: none;
    color: white;
    transition: all 300ms ease-in-out;
}

.lista a:hover{
    color: #7e42fb;
}

.lista li{
    margin-right: 10px;
    font-family: 'Satoshi-Medium', sans-serif;
}

.perfil{
    display: flex;
    justify-content: right;
}

#color_perfil{
    transition: all 300ms ease-in-out;
}

#color_perfil:hover{
    color: #7e42fb;
}

.div_contacto{
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: white;
    border-radius: 10px;
    padding: 7px;
}

.div_contacto a{
    color: black;
    margin: 0;
}

.div_contacto li{
    margin: 0;
    font-family: 'Satoshi-Bold';
}